/* Вся страница во всю ширину и высоту без отступов */
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.page_link {
    transition: opacity 0.15s linear;
}
.page_link:hover {
    opacity: .3;
}


div, img, p, section, h2 {
    border: 1px solid red;
}